<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Practices.EnterpriseLibrary.Common.dll" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Practices.EnterpriseLibrary.Data.dll" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Practices.ObjectBuilder.dll" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="WCM.Microsoft.Practices.EnterpriseLibrary.Data" version="5.0.414" targetFramework="net461" />
</packages>