* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #fondo1 {
    background: url(../../img/menu-imagen.jpg);
    background-size: cover;
    color: black;
    font-size: 16px;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .container {
    width: 100%;
    margin: auto;
  }

  .menu-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 30px;
    z-index: 2;
    display: block;
  }

  .nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: auto;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    width: 15%;
    height: 93%;
    opacity: 0.9;
    padding: 3px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }

    .nav-main ul.nav-menu li {
      padding: 12px;
      border-bottom: 2px solid lightgray;
      margin-bottom: 0px;
      font-size: 16px;
    }

    .nav-main ul.nav-menu.show {
      transform: translateX(0%);
    }

  #Menu {
    position: relative;
    background: #9294a7;
    color: white;
    border: none;
    width: 15%;
    height: 7%;
    padding: 10px;
    top: 0px;
    left: 0px;
    border-bottom: 2px solid lightgray;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease;
    text-align: center;
  }

    #Menu:hover {
      background: #52525b;
      color: white;
    }

  .nav-main ul.nav-menu li:hover {
    background: #ebebef;
    color: #3d3a3a;
  }

 #Nombre {
    position: relative;
    background: #282a31c7;
    color: white;
    border: none;
    width: 85%;
    padding: 10px;
    top: 0px;
    right: -15%;
    border-bottom: 2px solid lightgray;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
  }
  #Menu{
    position: absolute;
    top: 0px;
    height: auto;
  }
  li{
    color: white;
  }
  .dps{
    font-size: 24px;
    background-color: white;
    padding-left: 18%;
    padding-right: 18%;
    margin-left: 15%;
  }
